.addToCart {
  display:'block';
  padding: '10px 10px 10px 30px';
  color: '#555';
  margin-bottom: '15px';
  background-image:url('../icons/icon48.png');
  background-repeat: 'no-repeat';
  background-size: '20px';
  background-position: '3% 50%';
  text-align: 'center';
  border-radius: '4px';
  outline: 'none';
  border: '1px solid #ddd';
}
