#app {
  height: 500px;
  width: 375px;
  color: #3a4954;
  font-family: 'Roboto', sans-serif;
}

#app .container {
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

#app .container .d-flex {
  height: 100%;
}

#app .container .login {
  text-decoration: underline;
}

#app .header {
  padding-top: 40px;
  background: #fff;
}

#app .header .avatar {
  vertical-align: middle;
  text-align: center;
}

#app .header .avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50% 50%;
}

#app .username {
  color: #6A8294;
  font-weight: 600;
  margin-bottom: 0;
}

#app .balances {
  color: #6A8294;
  font-size: 12px;
  margin-bottom: 0;
}

#app .balances .balance {
  padding-right: 20px;
}

#app .balances .crypto-label {
  font-size: 9px;
}

#app a {
  color: #4B5E6D;
  text-decoration: none;
  font-size: 16px;
}

#app .product {
  position: relative;
  padding: 20px 0;
  background: #fff;
  border-bottom: 1px solid #DADEE0;
}

#app .product:last-child {
  border-bottom-width: 0px;
}

#app .product .product-meta a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display:block;
  width: 100%;
  color: #a8a8a8;
}

#app .product .product-meta .currency {
  font-size: .6em;
}

#app .product img {
  width: 100%;
}

#app .product .product-actions {
  color: #fff;
  position: absolute;
  width: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
}

#app .product .product-actions span {
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
  color: #fff;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 20px;
}

#app .product .product-actions span:hover {
  background-color: rgba(0, 0, 0, .4);
}

#app .checkout {
  display: block;
  padding: 15px 30px;
  color: #FFF;
  background-color: #1AA5E2;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  border: 1px solid #1AA5E2;
}
#app .empty-cart-container {
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
}
#app .empty-cart-container a,
#app .empty-cart-container button {
  color: #07AFF9;
}
#app .empty-cart-container button {
  border: 2px solid #07AFF9;
  border-radius: 10px;
  width: 100%;
  padding: 10px 0;
  margin: 0 0 35px;
}
.empty-purse {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #1A2831;
}
.cart-meta {
  font-size: 12px;
  color:#6A8294;
  opacity: .9;
}

.cart-meta .item-count {
  padding-right: 20px;
}

.cart-meta .item-count-label {
  
}

.cart-meta .cart-cost {
  
}

.cart-meta .cart-cost-label {
  font-size: .7em;
}