#app {
  height: 500px;
  width: 500px;
  color: #3a4954;
  font-family: 'Roboto', sans-serif;
}

#app .container {
  height: 100%;
}

#app .container .d-flex {
  height: 100%;
}

#app .container .login {
  text-decoration: underline;
}

#app .header {
  padding-top: 40px;
  background: #f8f8f8;
}

#app .header h2 {
  color: #3A4954;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

#app .username {
  color: #6A8294;
}

#app a {
  color: #4B5E6D;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

#app .product {
  position: relative;
  padding: 20px 10px;
  background: #fff;
  border-bottom: 1px solid #DADEE0;
}

#app .product:last-child {
  border-bottom-width: 0px;
}

#app .product img {
  width: 100%;
}

#app .product .product-actions {
  background-color: rgba(0, 0, 0, .04);
  color: #fff;
  position: absolute;
  width: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
}

#app .product .product-actions span {
  background-color: rgba(255, 255, 255, .7);
  cursor: pointer;
  color: #9BABB8;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 20px;
}

#app .product .product-actions span:hover {
  color: #6A8294;
}

#app .checkout {
  display: block;
  padding: 15px 30px;
  color: #FFF;
  background-color: #1AA5E2;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  border: 1px solid #1AA5E2;
}

.empty-purse {
  text-align: center;
  margin-top: 50px;
}
.order-meta {
  font-size: 12px;
  color:#333;
}
