#app {
  height: 500px;
  width: 500px;
  color: #3a4954;
}

#app .container {
  height: 100%;
}

#app .container .d-flex {
  height: 100%;
}

#app .container .login {
  text-decoration: underline;
}

#app .header {
  padding-top: 40px;
  background: #f9f9f9;
}

#app .header h2 {
  color: rgba(0,0,0,.7);
  font-size: 1.5em;
  font-weight: 500;
}

#app .header p {
  color: rgba(0,0,0,.45);
}

#app a {
  color: #3a4954;
  text-decoration: none;
}

#app .product {
  padding: 20px 10px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

#app .product:last-child {
  border-bottom-width: 0px;
}

#app .checkout {
  display: block;
  width: 80%;
  padding: 15px 30px;
  color: #555;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  outline: none;
  border: 1px solid #F2911B;
}
